*{
    margin:0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
.products{
    padding: 30px 40px;
    width:100%;
    

}
.products h3{
    font-size: 24px;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: 300;
    color:black
}
.products p{
    margin-top: 30px;
}
.products .container{
    margin-top: 30px;
    max-width: 50%;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}
.products .container .filter{
    padding: 20px 30px;
    
}
.products .container .filter .categories h2{
    color:black;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
}
.products .container .filter .categories ul{
    margin-top: 30px;
}
.products .container .filter .categories ul  li{
    list-style: none;
    margin-top: 30px;
    color: black;
    font-size: 25px;
}
.products .container .productbox
{
    padding: 50px 40px;

}
.products .container .productbox .contant
{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.products .container .productbox .contant .box
{
    padding: 10px 20px;
    overflow: hidden;
    
    width: 290px;
    height: 380px;
    border: 1px solid #e2e0e0;
    margin-bottom: 20px;
    transition: 0.5s;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 20px;
}
.products .container .productbox .contant .box:hover
{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.products .container .productbox .contant .box .img_box
{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e2e0e0;
}
.products .container .productbox .contant .box .img_box img
{
    width: 300px;
    height: 250px;
    margin-right: 50px;
}
.products .container .productbox .contant .box .img_box .icon
{
    z-index: 1;
    position: relative;
    right: 0;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    transition: 0.5s;
}
.products .container .productbox .contant .box:hover .img_box .icon
{
    transform: translateX(-130px);
}
.products .container .productbox .contant .box .img_box .icon li
{
    list-style: none;
    padding: 10px 10px;
    color: #010f1c;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background: #fff;
    transition: 0.5s;
    font-size: 18px;
}
.products .container .productbox .contant .box .img_box .icon li:hover
{
    background: #0989ff;
    color: #fff;
}
.products .container .productbox .contant .box .detail
{
    margin-top: 10px;
}

.productdetail
{

    padding: 60px 60px;
    width: 100%;
    height: 150%;
    position: fixed;
    z-index: 2;
    margin-top: -10%;
    background: rgba(0, 0, 0, 0.24);
}
.productdetail .container
{
    margin-top: 10%;
    margin-left: 10%;
    width: 1200px;
    height: 600px;
    background: #fff;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.productdetail .container .ion{
    font-size: 40px;
    background-color: aqua;
    margin-left: 90%;
}
.productdetail .container  .productbox{
    display: flex;
    padding: 20px 40px;
    margin-top: 20px;
    justify-content: space-between;
}
.productdetail .container .productbox .imgbox
{
    padding: 20px 30px;
    width: 600px;
    height: 450px;
    background: #f1f1f1;
}
.productdetail .container .productbox .imgbox img{
    width: 200px;
    height: 200px;
}
.productdetail .container .productbox .detail
{
    margin-left: 30px;
    margin-top: 10px;
}
.productdetail .container .productbox .detail h4
{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 200;
    color: #9a9a9a;
    letter-spacing: 1px;
}
.productdetail .container .productbox .detail h2
{
    margin-top: 20px;
    font-size: 32px;
    color: #010f1c;
    text-transform: capitalize;
    letter-spacing: 1px;
}
.productdetail .container .productbox .detail p
{
    margin-top: 10px;
    color: #4a4a4a;
}
.productdetail .container .productbox .detail h3
{
    margin-top: 10px;
    color: #010f1c;
    font-size: 32px;
    letter-spacing: 1px;
}
.productdetail .container .productbox .detail button
{
    margin-top: 30px;
    padding: 15px 60px;
    font-size: 16px;
    color: #fff;
    background: #010f1c;
    transition: 0.5s;
    border: none;
    outline: none;
    cursor: pointer;
}
.productdetail .container .productbox .detail button:hover
{
    background: #0989ff;
}